.app-download {
  color: #ffffff;
  text-align: center;

  padding-bottom: 31px;
  padding-top: 28px;

  background-color: #1d2631;
}

.app-download__button {
  color: #ffffff;

  margin-bottom: 32px;
  .button-action(#ffffff, #d22856);
}

.app-download__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  width: 210px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 12px;

  list-style: none;
}

.app-download__item {
  width: 50px;
}

.app-download__link {
  display: block;
  vertical-align: middle;

  &:focus {
    outline: 1px solid fade(#2e8bf3, 50%);
  }
}

.app-download__legend {
  font-size: 14px;
  line-height: 24px;
  text-align: center;

  width: 230px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .app-download {
    position: absolute;
    top: -351px;
    left: 20px;

    width: 300px;
    margin: 0;
    padding: 0;

    background-color: transparent;
  }

  .app-download__button {
    margin-bottom: 45px;
  }

  .app-download__list {
    margin-bottom: 24px;
  }

  .app-download__legend {
    font-size: 18px;

    width: 300px;
  }
}

@media (min-width: @desktop-width) {
  .app-download {
    top: -404px;
    left: 10px;
  }

  .app-download__button {
    margin-bottom: 66px;
  }

  .app-download__list {
    margin-bottom: 44px;
  }
}
