.app-advantages {
  width: 100%;
  margin: 0 auto;
  margin-top: 41px;

  background-color: #f2f2f2;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: top right -2300px;
  background-size: cover;
}

.app-advantages__slogan {
  color: #283645;
  font-size: 24px;
  text-align: center;

  width: 220px;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 0;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.app-advantages__list {
  padding: 0;
  margin: 0 auto;

  list-style: none;
}

.app-advantages__image {
  display: block;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .app-advantages {
    width: 100%;
    margin-top: 50px;
  }

  .app-advantages__slogan {
    font-size: 40px;
    line-height: 48px;

    width: 100%;
    margin-bottom: 0;

    &:last-of-type {
      width: 340px;
    }
  }
}

@media (min-width: @desktop-width) {
  .app-advantages {
    margin-top: 67px;
  }

  .app-advantages__slogan {
    font-size: 50px;
    line-height: 60px;

    &:last-of-type {
      width: 430px;
    }
  }
}
