.button {
  display: inline-block;

  font-weight: bold;
  line-height: 18px;
  vertical-align: middle;

  padding-top: 14px;
  padding-bottom: 17px;
  padding-left: 35px;
  padding-right: 35px;

  background-color: transparent;
  border: 3px solid #ffffff;
  border-radius: 30px;

  &--form {
    display: block;

    line-height: inherit;
    color: #ffffff;
    text-transform: uppercase;

    background-color: #2aab6d;

    border: none;
    border-radius: 2px;

    &:hover,
    &:focus {
      background-color: #1c9b5e;
    }

    &:active {
      color: fade(#ffffff, 30%);
    }

    &:disabled {
      background-color: #e5e5e5;
    }
  }
}


@media (min-width: @tablet-width) {
  .button {
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media (min-width: @desktop-width) {
  .button {
    font-size: 21px;

    padding-left: 28px;
    padding-right: 28px;
    padding-top: 17px;
    padding-bottom: 15px;

    &--form {
      font-size: 18px;
    }
  }
}
