.page-main {
  margin-top: -69px;
}

.page-main__app-download-wrapper {
  width: 100%;
}

@media (min-width: @tablet-width) {
  .page-main {
    width: 100%;
    margin-top: -111px;
  }

  .page-main__app-download-wrapper {
    position: relative;
    width: 660px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .page-main {
    width: 100%;
  }

  .page-main__app-download-wrapper {
    width: 960px;
  }
}
