.research {
  display: none;
}

@media (min-width: @tablet-width) {
  .research {
    display: block;

    font-size: 14px;
    line-height: 24px;
  }
}

.research__wrapper {
  position: relative;

  width: 320px;
  margin: 0 auto;
  padding-left: 320px;
  padding-top: 96px;
  padding-bottom: 124px;

  &::before {
    content: "";

    position: absolute;
    bottom: 102px;
    left: 9px;

    width: 240px;
    height: 276px;

    background-image: url("../img/icon-timer.svg");
    background-repeat: no-repeat;
    background-size: 240px 276px;
  }

  &::after {
    content: "24";
    color: #d22856;
    font-size: 96px;
    font-weight: bold;
    text-align: center;
    line-height: 163px;


    width: 170px;
    height: 170px;

    position: absolute;
    left: 28px;
    bottom: 120px;

    border: 16px solid #d22856;
    border-radius: 50%;
  }
}

.research__slogan {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;

  width: 170px;
  margin-bottom: 10px;
}

.research__text {
  width: 290px;
  margin: 0;
  margin-bottom: 10px;
}

.research__link {
  color: #d22856;
  text-decoration: underline;
}

@media (min-width: @desktop-width) {
  .research {
    font-size: inherit;
    line-height: inherit;
    background-color: #f2f2f2;
  }

  .research__wrapper {
    width: 540px;
    padding-top: 129px;
    padding-left: 340px;
    padding-bottom: 155px;

    &::before {
      top: 37px;
      left: -30px;

      width: 300px;
      height: 345px;

      background-size: 300px 345px;
    }

    &::after {
      font-size: 120px;
      line-height: 209px;

      width: 216px;
      height: 216px;

      left: -6px;
      bottom: 133px;

      border: 18px solid #d22856;
    }
  }

  .research__slogan {
    width: 100%;
    margin-bottom: 22px;
  }

  .research__text {
    width: 535px;
    margin-bottom: 30px;
  }
}
