.reviews {
  text-align: center;

  width: 100%;
  margin-top: -55px;
  padding-top: 50px;
  padding-bottom: 60px;

  background-color: #ffffff;
}

.reviews__autor {
  font-weight: bold;
  margin: 0 auto;
  padding-bottom: 31px;
  width: 158px;
}

.reviews__text {
  font-size: 14px;
  line-height: 30px;

  margin: 0 auto;
  padding-bottom: 14px;
  width: 280px;
}
