.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 178px;
  padding: 0;

  list-style: none;
}

.social-list__link {
  display: block;

  color: #d22856;

  width: 48px;
  height: 48px;

  text-align: center;

  border: 3px solid fade(#283645, 10%);
  border-radius: 50%;

  &:hover,
  &:focus {
    border-color: #283645;
  }

  &:active {
    color: fade(#d22856, 30%);
    border-color: fade(#283645, 10%);
  }
}

.social-list__twitter-icon {
  padding-top: 17px;
}

.social-list__facebook-icon {
  padding-top: 15px;
}

.social-list__youtube-icon {
  padding-top: 18px;
  padding-left: 2px;
}

@media (min-width: @desktop-width) {
  .social-list {
    width: 173px;
  }
}
